
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #a8edea, #bbfcf9); 
}

.login-container {
    width: 350px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin: 10px 0 5px;
    color: #495057;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none; 
    border-radius: 30px; 
    font-size: 1rem;
    color: #495057;
    background-color: #eaf4ff;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25); 
}

button {
    width: 45%;
    padding: 12px;
    background-color: #009dff;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;  
}

button:hover {
    background-color: #007bff;
}

button:active {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    color: #28a745;
    font-weight: bold;
    font-size: 1rem;
}

